.app{
    width: 100vw;
    min-height: 100vh;
    background-color: #F2F2F2;
    padding: 104px 0 115px;
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32px;
    margin-bottom: 69px;
}
