.price{
    font-size: 6rem;
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-top: -15px;
}

.modal{
    justify-content: center;
}

.currency{
    font-size: 3rem;
    margin-right: 4px;
    margin-top: 15px;
}

.text{ 
    margin: 0;
}
