*, *::after, *::before{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

input{
  outline: none;
  border: none;
}
